@model Customer

<div class="form-group">
    @Html.MyLabelFor(m => m.Id)
    @Html.MyDataBoundTextBoxFor(m => m.Id, "value: id")
</div>
<div class="form-group">
    @Html.MyLabelFor(m => m.Firstname)
    @Html.MyDataBoundTextBoxFor(m => m.Firstname, "value: firstname")
</div>
<div class="form-group">
    @Html.MyLabelFor(m => m.Lastname)
    @Html.MyDataBoundTextBoxFor(m => m.Lastname, "value: lastname")
</div>
<div class="form-group">
    @Html.MyLabelFor(m => m.Email)
    @Html.MyDataBoundTextBoxFor(m => m.Email, "value: email")
</div>
